body {
  background-color: #333;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

div.header {
  max-width: 650px;
  text-align: center;
  display: flex;
  margin: 0 auto;
}

div.header > * {
  display: inline-block;
  flex: 1;
}

.header-icon {
  cursor: pointer;
  user-select: none;
  position: relative;
}

.header-icon img {
  height: 48px;
  filter: invert(100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  padding-top: 20px;
}

.grid {
  margin-top: 20px;
  margin-bottom: 20px;
}

.grid table {
  border-spacing: 5px;
  margin: 0 auto;
}

.grid td {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  background-color: #555;
}

.grid td.other {
  background-color: rgb(181, 159, 59);
}

.grid td.right {
  background-color: rgb(83, 141, 78);
}

.grid td.padding {
  visibility: hidden;
}

.grid td.dofus {
  background-color: initial;
  background-image: url("../img/dofus.png");
  background-size: cover;
}

.grid td.cursor {
  border: 1px solid white;
  box-sizing: border-box;
}

.grid td.placeholder {
  color: #aaa;
}

#input-area {
  margin-top: 20px;
}

.input-line {
  margin: 0 auto;
  max-width: 500px;
  display: flex;
}

.input-letter {
  flex: 1;
  display: inline-block;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
}

.input-letter.correct-letter {
  background-color:rgb(83, 141, 78);
}

.input-letter.other-letter {
  background-color: rgb(181, 159, 59);
}

.input-letter.wrong-letter {
  border-color: #555;
  color: #555;
}

.panel {
  position: fixed;
  max-width: 90%;
  width: 600px;
  background-color: #444;
  border: 1px solid white;
  top: 10%;
  max-height: 80%;
  overflow-y: scroll;
  left: 50%;
  transform: translateX(-50%);
}

.panel-content {
  margin: 10px;
}

.panel-cross {
  top: 10px;
  right: 10px;
  position: absolute;
  filter: invert(100%);
  cursor: pointer;
}

.panel-cross:hover {
  filter: invert(100%) brightness(75%);
}

.icon-green,
.icon-black,
.icon-yellow,
.icon-star {
  width: 20px;
  height: 20px;
  border-radius: 2px;
}

.icon-green {
  background-color: rgb(79, 161, 72);
}

.icon-black {
  background-color: #555;
}

.icon-yellow {
  background-color: rgb(204, 176, 49);
}

.icon-star {
  border: none;
  background-image: url("../img/dofus.png");
  background-size: cover;
}

#share {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #444;
  padding: 8px 12px;
  border-radius: 5px;
  border: 2px solid white;
  color: white;
  font-size: 17px;
  cursor: pointer;
  display: inline-block;
}

#share:hover {
  border: 2px solid #bbb;
  color: #bbb;
}

#share:hover img.share-icon {
  filter: invert(100%) brightness(75%);
}

img.share-icon {
  filter: invert(100%);
  vertical-align: middle;
  margin-left: 10px;
}

.share-message {
  opacity: 0;
  transition: opacity 1s;
  margin-left: 20px;
}

.invisible {
  display: none;
}
